<p>&nbsp;</p>
<table width='600' border='0' align='center' cellpadding='0' cellspacing='0' style='font-family:verdana; font-size:1em; color:#000000;'>
    <tr>
        <td background="{header}" style="background-repeat: no-repeat; height: 76px;" height="76" width="600">
            <div style="margin-left: 10px;">
                <img src="{logo}" height="50"/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #f9f9f9">
            <table width='95%' border='0' align='center' cellpadding='2' cellspacing='4'>
                <tr>
                    <td><br/><br/></td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;">Olá, <b>{nome}</b></div>
                        <div style="margin-left: 10px;"><h3>Bem-vindo ao nosso site!</h3></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>Você agora faz parte da comunidade:</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p><b>{title}</b>,</p></div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>{descricao}</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>Sempre oferecemos os melhores produtos e serviços.</p></div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>Clique <a href="{confirmUrl}">aqui</a> para validar seu cadastro!</p></div>
                        <div style="margin-left: 10px;"><p>Se preferir, clique no link abaixo ou copie e cole no seu navegador:</p></div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>                
                <tr>
                    <td><div style="margin-left: 10px;"><p><a href="{confirmUrl}" >{confirmUrl}</a></p></div></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>Sua senha para acesso:<b> {password}</b></p></div>
                    </td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left: 10px;"><p>Complete seu cadastro e fique por dentro de novidades e boas oportunidades.</p></div>
                    </td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr>
                    <td><div style="margin-left: 10px;"><b>Atenciosamente</b></div></td>
                </tr>
                <tr>
                    <td><div style="margin-left: 10px; font-size: 0.8em">{title}</div></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td></br></td>
                </tr>
                <tr><td>{social_network}</td></tr>
            </table>
        </td>
    </tr>
    <tr>
         <td>
             <div style="height: 53px;">
                <img src="{footer}" alt="rodape"/>
            </div>
         </td>
    </tr>
    <tr>
        <td><br/></td>
    </tr>
    <tr>
        <td align="center"><div style="color: #999; font-size: 0.8em">{title} - Todos os direitos reservados</div></td>
    </tr>
</table>